* {

    color: black;
    padding: 0px;
    margin: 0px;

}

body {
    background-color: rgb(248, 245, 245);

}



header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;



}

.logo {
    text-align: right;
    justify-content: right;
    align-items: right;
    width: 20%;
    height: auto;
}

.menyt {

    list-style: none;
    text-decoration: none;
    font-size: 22px;
}

.menyt li {
    display: inline-block;
    padding: 0 10px;
}

.menyt li a {
    transition: all 0.5s ease 0;
}

.menyt li a:hover {
    color: white;
    background-color: #a09e9e;
    padding: 5px;
}

a {
    text-decoration: none;
}

.faqja-e-hapur {
    color: white;
    background-color: #bbbaba;
    padding: 7px;
    border-radius: 4px;
    font-size: 22px;
}



#footer {
    width: auto;
    background-color: #e7cdbd;
    
    min-height: 40px;
    position: relative;
    bottom: 0;
}



.pjesa-fundit {

    background-color: #e7cdbd;
    width: 100%;
    display: flex;
    height: auto;
    margin-bottom: 0px;
    

}

.pjesa-fundit-ikonat {
    width: 37%;
    /* justify-content: center;
    /* align-items: center;
    text-align: center; */
    padding-top: 6%;
    padding: 25px;

}

.ikonat {
    color: black;
    width: 30px;
    height: 50px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    padding-left: 80px;
    transition: 0.5s ease;

}

.ikonat:hover {
    color: rgb(3, 121, 62);

}



.kontakti {
    color: black;
    height: 60px;
    padding: 15px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;

}
.pjesa-dyte {
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
    text-align: left;
    text-shadow: none;
    word-wrap: break-word;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;

}

.pjesa-fundit-foto {

    padding-top: 50px;
    padding-left: 5%;
    margin: 0px;
    text-align: right;
    justify-content: right;
}

.pjesa-dyte-l {
    width: 100%;
    height: auto;
    display: flex;

}


.gupemoshat {

    padding: 15px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 25px;
    background-color: #80546b;
    color: white;
    height: 60px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(183, 183, 183);
    transition: 0.5s ease;
}

.gupemoshat:hover {
    background-color: #4CAF50;
    color: white;
}




.permbajtja {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-image: url(library/snow.gif);
}





.ndarjet-dy {
    margin: 60px;
    width: 21%;
    border-style: solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    margin-top: 30px;
    border-color: rgb(183, 183, 183);
    margin: 20px;
    box-shadow: 10px 10px 30px rgb(183, 183, 183);
    margin-left: 25px;

}
.pjesa-pare {
    width: 100%;
    height: 680px;
    display: flex;


}

.teksti-pare {
    width: 40%;
    /* text-align: center; */
    justify-content: right;
    align-items: right;
    padding: 30px;
}

pre.teksti-pare {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

.foto-pare {
    width: 30%;
    text-align: right;
    justify-content: center;
    align-items: flex-end;
    padding: 50px;
    margin: 14px;


}

.foto-dyte {
    width: 100%;
    height: auto;
    padding: 0px;
}

.butoni-meshume {
    background-color: #e7cdbd;
    color: black;
    padding: 5px;
    border: none;
    transition: 0.5s ease;

}

.butoni-meshume:hover {
    background-color: black;
    color: #e7cdbd;
}


.pjesa-pare-takimi {
    display: flex;

}

.takimi-orari {
    margin: 30px;
    margin-top: 150px;
    width: 45%;
    justify-content: center;
    text-align: center;
}

.tabela {
    background-color: #e4e3e3
}

tr,
th,
td,
table {
    border-color: rgb(14, 49, 29);
    padding: 6px;
    border-style: ridge;
}






/* *** */
.takimi10 {
    width: 50%;
    margin-left: 10px;

}

.emri {
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 6px;
    display: block;
    margin: 15px;
}

.mesazhi {

    padding: 2px;
    width: 80%;
    height: 80px;
    border: none;
    border-radius: 6px;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
}

.dergo {
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: turquoise;
    color: white;
    width: auto;
    transition: 0.5s ease;
    margin: 15px;

}

.dergo:hover {
    background-color: white;
    color: turquoise;
}

.butonatetakimit {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

}

dl {
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 20px;
    text-align: end;
}

table {
    border-spacing: 7px;
}

.dono
{
    background-color: rgb(165, 162, 162);
    padding: 5px;
}


.btn
{
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color:#80546b;
    padding: 10px;
    margin: 3px;
    border-radius: 3px;
    transition: 1s ease;
}

.btn:hover
{
    transition: 1s ease;
    background-color: #4CAF50;
}


.active
{
    background-color: green;
}



#photo
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 25px));
    column-gap: 5px;
    grid-row-gap: 5px;
    padding: 5px 0;
}

header
{
    background-color: white;
    padding: 20px;
}
.foto
{
    border: 1px solid white;
    border-radius: 3px;
    max-width: 250px;
}
.distancaefotov
{
    width: 100%;
    height: 100%;
    margin: 3px;
    repeat: no-repeat;
    size: 100% 100%; 
}

.distancaefotov:hover
{
    transition: all 0.5s ease;
    transform: scale(1.1);
}

